<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Checkout</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="navbar">
    <h2>🛍️ BuyNest</h2>
    <a href="javascript:history.back()">🏠 Home</a>
</div>


<h1>Checkout</h1>

<form onsubmit="return placeOrder()">
    <input type="text" placeholder="Enter Name" required><br><br>
    <input type="text" placeholder="Enter Address" required><br><br>
    <button type="submit">Place Order</button>
</form>

<script src="/script.js"></script>

</body>
</html>